<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="HotKeySection" type="Labs_C_Sharp.HotKeySection, Labs_C_Sharp" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PluginsDirectory"  value="Plugins"/>
  </appSettings>
  <HotKeySection>
    <HotKeys>
      <HotKey Command="Save" Gesture="CTRL+S"/>
      <HotKey Command="Open" Gesture="CTRL+O"/>
      <HotKey Command="Close" Gesture="CTRL+Q"/>
      <HotKey Command="NextPage" Gesture="RIGHT"/>
      <HotKey Command="PreviousPage" Gesture="LEFT"/>
    </HotKeys>
  </HotKeySection>
</configuration>